/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: 'Titillium Web', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Bangers', cursive;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
.container {
  width: 60%;
  margin: auto;
  /* border: 1px solid green; */
}

nav {
  /* border: 1px solid orange; */
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
}

nav a {
  text-decoration: none;
  color: gray;
}

.logo {
  /* border: 1px solid red; */
  align-self:
  flex-wrap: wrap;
}

.main {
	/* border: 2px solid purple; */
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	margin: 5% 0;
}

.main-content-left {
	/* border: 1px solid black; */
	width: 60%;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: center;
}

.main-content-left h1 {
	font-size: 450%;
	text-align: center;
}

.main-content-left button {
  background-color: white;
  width: 30%;
  height: 30px;
  border: 1px solid black;
	color: black;
	font-size: 110%;
}

.main-content-right {
	/* border: 1px solid pink; */
	width: 40%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
}

.main-content-right img {
	height: 100%;
	width: 100%;
}

.content {
	/* border: 2px solid purple; */
}

.divider-top {
  color: black;
  background-color: black;
  height: 3px;
  margin: 4% 0;
}

.divider-bottom {
  color: grey;
  background-color: grey;
  height: 3px;
  margin: 4% 0;
}

.top-content {
	/* border: 1px solid blue; */
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	
}

.top-row {
	width: 48%;
}

.middle-row {
	margin: 3% 0;
}

.middle-row img {
	width: 100%;
	height: auto;
}

.bottom-content {
	/* border: 1px solid blue; */
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	
}

.bottom-row {
	width: 33%;
}

.copyright {
  text-align: center;
  margin: 4% 0;
}